@{
    ViewData["Title"] = "RentWise Admin";
}
<div class="container">
    <div class="main">
        <div class="login">
            <form class="form" action="Dashboard/Index">
                <label for="Username" arial-hidden="true">Log In</label>
                <input class="input" type="username" placeholder="Enter your username" required />
                <input class="input" type="password" placeholder="Enter your password" required/>
                <button>Login</button>
            </form>
        </div>
    </div>
    <div style="clear:both;content:'';display:block"></div>
</div>
